.ms-container {
  flex: 4;
}
.ms-prompts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2% 5%;
}
.category-links {
  margin: 0 5% !important;
  font-size: 0.9em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: flex-start;
  align-items: center;
}
.btn-category {
  background: none;
  color: #333;
  font-size: 1.1em;
  padding: 0 !important;
}
.btn-category:hover {
  font-weight: bold !important;
}
.btn-category::first-letter {
  text-transform: uppercase;
}
.btn-category:focus, .btn-category:active {
  font-weight: bold !important;
}