.prompt-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
  /* width: 80%; */
}

.options {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  margin: -3% 0 3% 0;
  padding: 0 2%;
  /* background-color: pink; */
}

.icon {
  font-size: 1.35em;
  margin-right: 0.3em;
  fill: rgb(118, 118, 118);
  cursor: pointer;
}

.user-info {
  display: flex;
  margin-bottom: 0.5em;
}

.user-info p {
  font-size: .85em;
}

.prompt-card {
  padding: 2%;
  width: 95%;
  border-bottom: 1px solid rgb(225, 223, 223);
  cursor: pointer;
}

.prompt-title {
  font-size: 1.1em;
}

.prompt-body {
  font-size: 0.9em;
}

.prompt-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.prompt-tags span, .prompt-cont span {
  font-size: .8em;
}

.prompt-tags a {
  color: #fff!important;
  text-decoration: none;
  background: rgba(97, 89, 151, 0.7);
  font-size: 0.7em;
  text-align: center;
  min-width: 6%;
  padding: 6px 10px;
  border-radius: 20px;
  margin: 0.3em;
}