.prompt-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

.prompt-cont span {
  font-size: .85em;
}

.options {
  display: flex;
  width: 95%;
  justify-content: flex-start;
  align-items: center;
  margin: -3% 0 3% 0;
  padding: 0 2%;
}

.options h5 {
  cursor: pointer;
}

.icon {
  font-size: 1.35em;
  margin-right: 0.3em;
  fill: rgb(118, 118, 118);
  cursor: pointer;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  gap: 0.3em;
}

.user-info p {
  font-size: .90em;
  color: #ba233c;
}

.user-info span {
  font-size: 1em;
}

.prompt-card {
  padding: 2%;
  width: 95%;
  border-bottom: 1px solid rgb(225, 223, 223);
  cursor: pointer;
}

.prompt-title {
  font-size: 1.5em;
  font-family: "essonnes-headline", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}
.prompt-text {
  font-size: 0.95em;
  max-width: 95%;
}

.prompt-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.prompt-info p {
  font-size: 0.85em;
  margin-bottom: 0.5em!important;
}

.prompt-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
  max-width: 95%;
  gap: 4px;
}

.prompt-tags a {
  color: #fff!important;
  text-decoration: none;
  background: rgba(97, 89, 151, 0.7);
  font-size: 0.75em;
  text-align: center;
  min-width: 6%;
  padding: 8px 10px;
  border-radius: 20px;
  /* flex-grow: 1; */
}

.prompt-tags a:nth-child(even) {
  flex-grow: 1;
}
