/* font-family: 'Karla', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');
@font-face {
  font-family: "Buljirya";
  src: url("../src/assets/Buljirya.woff") format("woff");
}
@font-face {
  font-family: "Brolimo";
  src: url("../src/assets/BROLIMO-Regular.woff") format("woff");
}

html, body, #root {
  height: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  /* outline: 1px solid red; */
}

hr {
  border: none;
  border-top: 0.5px solid rgb(222, 217, 217);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

p {
  font-weight: 300;
  font-size: 1em;
  word-spacing: 1px;
}

button {
  border-radius: 50px !important;
  color: #fff;
  font-weight: 200;
  cursor: pointer;
  border: none;
  background-color: rgba(97, 89, 151, 0.7);
  padding: 13px 18px;
  margin: 3% 0.5% !important;
  /* width: 100%; */
}

.page-title {
  font-size: 1.8em;
  margin-bottom: -1%;
}
.page-container {
  width: 75%;
  margin: 8% auto;
}
.page-intro {
  margin-bottom: 4%;
}